<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	Monday: <%= check_box("days", "monday", { :class => 'eula_check' }, "1", "0") %><br />
  	Tuesday: <%= check_box("days", "tuesday", { :class => 'eula_check' }, "1", "0") %><br />
  	Wednesday: <%= check_box("days", "wednesday", { :class => 'eula_check' }, "1", "0") %><br />
  	Thursday: <%= check_box("days", "thurday", { :class => 'eula_check' }, "1", "0") %><br />
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.number_field :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
