<h1>Listing templates</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.day %></td>
    <td><%= template.start %></td>
    <td><%= template.end %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %>
<%= link_to 'Batch Template Creation', batch_template_path %>
