<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sub_request.user_id %>
</p>

<p>
  <b>Shift:</b>
  <%= @sub_request.shift_id %>
</p>

<p>
  <b>Filled:</b>
  <%= @sub_request.filled %>
</p>


<%= link_to 'Edit', edit_sub_request_path(@sub_request) %> |
<%= link_to 'Back', sub_requests_path %>
