<h1>Listing users</h1>
<script>
	$(function() {
		$( ".draggable" ).draggable({cancel:"div.card_info", stack: ".draggable"});
	});
	</script>
<br />
	<% @users.each do |user| %>
	<div class="life_guard draggable">
		<div class="card_username"><%= user.username %></div>
		<div class="card_image"></div>
		<div class="card_info">
		<div class="card_name"><%= "#{user.fname} #{user.lname}" %></div>
	    E: <%= user.email %><br />
	    <% if user.phone != "" %>T: <%= number_to_phone(user.phone, :area_code => true) %><br /><% end %>
	    <%= #user.opt_out 
	    %><br />
	    </div>
	</div>
	<% end %>
<div style="clear:both;"></div>
<%= link_to 'New User', new_user_path %>
