<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Free web templates by http://www.templatesdock.com; released for free under a Creative Commons Attribution 3.0 License -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	  <title>WareCal | Ware Pool Scheduling Solution</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

	<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6, #nav', {hover:true});</script>
			<script type="text/javascript">
			window.addEventListener('DOMContentLoaded', function() {
   				$("body").queryLoader2({onComplete:fadeInPage, percentage:true});
			});
			function fadeInPage() {
				var temp = $("#controls_content").html();
				if(temp != null) {
					$("#controls").html(temp);
					$("#controls").slideDown();
				}
				$('#side_menu').show('slide');
				$('#header').show('clip');
				$('#content_scroll').show('blind');
				$("#side_menu ul li").mouseenter(function(){
					$(this).children('a').effect('shake',{distance: 5, times:3 },100)
			    })
			}
			/*
			$(function() {
				var temp = $("#controls_content").html();
				if(temp != null) {
					$("#controls").html(temp);
					$("#controls").slideDown();
				}
				$('#side_menu').show('slide')
			}); */
		</script>
	
	<!--[if IE 6]><script src="/pngfix.js"></script><script>DD_belatedPNG.fix('#nav, #twitter img, #logo img, #laptop, #footer');</script><![endif]--> 		

</head>

<body>

<div id="header"></div>
<div id="portal">
<div id="side_menu">
			<ul>
			<li class="current"><a href="#">Home</a></li>
			<li><%= link_to "Shifts", shifts_path  %></li>
			<li><%= link_to "Templates", templates_path  %></li>
			<li><%= link_to "Users", users_path  %></li>
			<li><%= link_to_if session[:user_id].nil?, "Login", login_path  %></li>
			<li><%= link_to_if session[:user_id], "Logout", logout_path  %></li>
			
		</ul>
</div>

<div id="content_portal">
	<div id="controls"></div>
	<div id="content_absolute">
		<div id="content_scroll">
		<%= yield %>
		</div>
	</div>
</div> <!-- /padding -->













<div id="main">

	<!-- NAVIGATION -->
	<div id="nav">
	


	
	</div> <!-- /nav -->

	<!-- INTRO 
	<div class="intro box">

		<div id="laptop">

			 LOGO (TRANSPARENT PNG) 
			<p id="logo"><%= image_tag("logo.png") %></p>
			
			<h1 id="slogan">Hello, we are new media company, which delivers winning web solutions</h1>
			
			<p id="button">
				<a href="#">Download demo version</a>
				<a href="#">Purchase full version</a>
			</p>
			
			 REPLACE SCREENSHOT (DESIGN/SCREENSHOT.JPG), SIZE: 375x276 
			<p id="screenshot"><a href="#"><%= image_tag("screenshot.jpg") %></a></p>
		
		</div>  /laptop

	</div>  /intro -->

	<!-- CONTENT -->
	<div id="content" class="box">
		
		<div style="clear:both;"></div>
		<div class="gradient box">

			<div class="col-left">

				<h3>Contact us</h3>
			
				<p>
					<strong>Swarthmore Athletics</strong><br />
					<a href="#">www.swarthmore.edu/athletics</a><br />
					<a href="#">athletics@swarthmore.edu</a><br />
					Address: 500 College Ave Swarthmore, PA<br />
					Phone: (012) 345-6789
				</p>

			</div> <!-- /col-left -->
			
			<div class="col-right">

			
			</div> <!-- /col-right -->
		
		</div> <!-- /gradient -->

	</div> <!-- /content -->

	<div id="footer" class="box">
		<p class="f-left">Copyright &copy;&nbsp;2010 <a href="#">MarkSerrano.ME</a></p>

	</div> <!-- /footer -->			
	
</div> <!-- /main -->
</div>
<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>